@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.about-us-section{
    background: rgb(2,0,36);
background: linear-gradient(166deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(23,79,66,1) 100%);
    
    color: white;
    background-color: black;
    margin: 0 0;
    padding: 1.5rem ;
    display: flex;

    height: 30rem;
    align-items: center;
    justify-content: space-between;
}

.about-text-container{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.about-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.about-image{
    width: 70%;
    border-radius: 1.5rem;
    transition: all ease-in-out 0.5s;
}
.about-image:hover{
    width: 80%;
    border: solid white 0.2rem ;
    border-radius: 1.5rem;
}

.about-text-container h2{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    margin: 0;
    
}

.about-text-container p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

@media only screen and (max-width: 800px) {
    .about-us-section{
        width: 100vw;
        height: 35rem;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .about-text-container{
        padding: 0;
        margin: 2rem 0;
        width: 90%;
        
    }

    .about-text-container h2{
        font-family: 'Kanit', sans-serif;
        font-size: 2rem;
        margin: 0;
        
    }

    .about-text-container p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 1.3rem;
        font-size: 0.8rem;
    }

    .about-image{
        margin-bottom: 5rem;
        width: 100%;
        border-radius: 1.5rem;
        transition: all ease-in-out 0.5s;
    }
    .about-image:hover{
        width: 110%;
        border-radius: 0.8rem;
        
        transition: all ease-in-out 0.5s;
    }

}