@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


.landing-container{
  width: 100vw;
  height: 100vh;
  background: url(./img/tfscoverlarge.svg) ;
  background-size: cover;
  background-position: center;
  margin: 0;
  margin-top: 0;
  padding-top: 2vh;
  
}

.navbar{
  position: fixed;

  z-index: 15;
  padding: 0.2rem 2rem;
    margin-left: 5vw;
    // margin-top: 2vh;
    width: 90vw;
    max-width: 90vw;
    min-height: 6vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(20, 18, 18);
    border-radius: 12px;
    border-color: white;
    border-width: 0.1rem;
    border-style: solid;
    transition: all .2s ease;
    color: white;
  }
  
  .logo{
    display: flex;
    align-items: center;
  }

  .navtext{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.5rem;
  }

  .logo img{
    width: 3rem;
  }

  .navigation li:hover{
    border-bottom: 0.2rem solid white;
    margin-bottom: 0.2rem;

  }

  
  .navigation{
    ul{
      box-sizing: border-box;
      list-style-type: none;
      display: flex;
      min-height: 6vh;
      justify-content: flex-end;
      align-items: center;
  
      li{
        margin: 0 0.5rem;
        text-align: center;
        padding: .5em;
        cursor: pointer;
        
      }
  
      li a{
        text-decoration: none;
        color: inherit;
      }
  
    }
  }

.download-btn{
  margin: 0 2rem;
    color: white;
    background: #009ECE;
    border-radius: 9px;
    padding: 1rem 1.5rem;
    text-align: center;

}

.toggle_btn{
  // display: none;
  width: 3rem;
  cursor: pointer;
  display: none;
  
}

.hamicon{
  font-size: large;
}

.dropdown_menu{
  display: none;
  position: absolute;
  right:0.2rem;
  top: 5.5rem;
  width: 15 rem;
  background: rgb(20, 18, 18);
  backdrop-filter: blur(1rem);
  border-radius: 0.8rem;
  overflow: hidden;
  height: 0;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}

.dropdown_menu.open{
  height: auto;
}

.dropdown_menu li{
  cursor: pointer;
  width: 12rem;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1rem;

line-height: 1.2rem;
/* identical to box height */

text-align: center;

/* Bg Color */

color: white;
text-decoration: none;
}

.dropdown_menu li:hover{
  color: aqua;

}

.dropdown_menu li a{
  text-decoration: none;
  color: inherit;
}



@media only screen and (max-width: 800px) {
  .navigation{
    display: none;
  }

  .toggle_btn{
    display: block;
  }
  .download-btn{
    display: none;
  }

  .dropdown_menu{
    display: block;
  }

  .landing-container {
    background: url("./img/tfscovermob.svg");
    width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
  }
}

@media only screen and (max-width: 1100px) and (min-width:800px) {
  .navtext{
    font-size: 1rem;
  }
}